mixin event(event)

	- var today = new Date();

	.tile.ph-1.pv-1
		.contain
			.event-calendar.calendar.hidden-xs.hidden-sm(class=event.state == 'past' ? 'calendar--past' : null)
				.calendar__header=event._.startDate.format('MMM')
				.calendar__body
					.calendar__date=event._.startDate.format('DD')
					.calendar__year=event._.startDate.format('YYYY')
		.event-content
			if event.featureImage.exists
					.image-wrap: img(src=event._.featureImage.fit(750,450)).img-responsive.center-block
			.col-sm-8.col-sm-offset-2.text-center
				h1.mv-2.display.text-center= event.title
				h5.mb-1.text-center=event._.startDate.format('dddd D MMM YYYY')
					|  from #{event._.startDate.format('h:mma')} - #{event._.endDate.format('h:mma')}
				if event.description
					p.text-center!= event.description
				if event.marketingInfo
					p.text-center!= event.marketingInfo
			if event.organization
				hr.mv-2
				.row
					.col-md-12.text-center
						h2 About the Organization
						img(src=event.organization._.logo).img-thumbnail.pull-left
						h2!= event.organization.name
				
		if event.state == 'active'
			hr.mv-2
			if user
				if event.spotsAvailable || rsvpStatus.rsvped && rsvpStatus.participating
					h4.hero-button-title Can you help?
						span.text-thin (#{plural(event.spotsRemaining, '* spot left', '* spots left')})
					//include ../includes/attendance-toggle
				else
					.alert.alert-success.mb-0.text-center No spots left...

			else
				#next-event(data-id=event.id)
					if event.spotsAvailable
						a(href='/join', data-from=page.path).btn.btn-primary.btn-lg.btn-block.js-auth-trigger Join Now
							span.text-thin (#{plural(event.spotsRemaining, '* spot left', '* spots left')})
					else
						.alert.alert-success.mb-0.text-center No spots left...
		else if event.totalRSVPs
			hr.mv-2
			.text-center
				.h1.text-muted.mb-0= event.totalRSVPs
				.lead.text-muted People #{event.state == 'active' ? "are participating" : "participated"} in this event
			if event.state == 'past'
				ul.list-unstyled.list-inline.text-center
					for rsvp in event.rsvps
						if rsvp.who
							- var participant = rsvp.who;
							if participant.isPublic
								li: a(href=participant.url, title=participant.name.full)
									img(src=participant.photo.exists ? participant._.photo.thumbnail(80,80) : participant.avatarUrl || '/images/avatar.png', width=40, height=40, alt=participant.name.full).img-circle
