mixin event(event)

	- var today = new Date();

	.tile.ph-1.pv-1
		.event-calendar.calendar.hidden-xs.hidden-sm(class=event.state == 'past' ? 'calendar--past' : null)
			.calendar__header=event._.startDate.format('MMM')
			.calendar__body
				.calendar__date=event._.startDate.format('DD')
				.calendar__year=event._.startDate.format('YYYY')
		.event-content
			h2.mv-5= event.name
			h5.mb-1=event._.startDate.format('dddd D MMM YYYY')
				|  from #{event._.startDate.format('h:mma')} - #{event._.endDate.format('h:mma')}
			if event.featureImage.exists
				img(src=(event.featureImage))
			if event.description
				p!= event.description

		if event.state == 'active'
			hr.mv-2
			if user
				if event.spotsAvailable || rsvpStatus.rsvped && rsvpStatus.attending
					h4.hero-button-title Can you help?
						span.text-thin (#{plural(event.spotsRemaining, '* spot left', '* spots left')})
					//include ../includes/attendance-toggle
				else
					.alert.alert-success.mb-0.text-center No spots available...

			else
				#next-event(data-id=event.id)
					if event.spotsAvailable
						a(href='/join', data-from=page.path).btn.btn-primary.btn-lg.btn-block.js-auth-trigger Join Now
							span.text-thin (#{plural(event.spotsRemaining, '* spot left', '* spots left')})
					else
						.alert.alert-success.mb-0.text-center No spots left...
		else if event.totalRSVPs
			hr
			.text-center
				.h1.text-muted.mb-0= event.totalRSVPs
				.lead.text-muted people #{event.state == 'active' ? "are attending" : "attended"} this event
			if event.state == 'past'
				ul.list-unstyled.list-inline.text-center
					for rsvp in event.rsvps
						if rsvp.who
							- var attendee = rsvp.who;
							if attendee.isPublic
								li: a(href=attendee.url, title=attendee.name.full)
									img(src=attendee.photo.exists ? attendee._.photo.thumbnail(80,80) : attendee.avatarUrl || '/images/avatar.png', width=40, height=40, alt=attendee.name.full).img-circle
							else
								li(title=attendee.name.full): img(src=attendee.photo.exists ? attendee._.photo.thumbnail(80,80) : attendee.avatarUrl || '/images/avatar.png', width=40, height=40, alt=attendee.name.full).img-circle
