extends ../../layouts/default
include ../../mixins/event

block intro
	.contain
		.page-intro
			h1.page-title Events
			p.lead We are working closely with non profits and charitable organizations in an effort to use our skills for social good.
			p.lead Stay in the loop -&nbsp
				a(href='http://twitter.com/teamhacksmiths', target='_blank') follow us on twitter

		if upcomingEvent
			+event(upcomingEvent)
		else
			h3.text-center There are no upcoming events.
			if !user
				p.lead.text-center Want to participate in our next event? &nbsp
					a(href='/join').js-auth-trigger Join&nbsp;us&nbsp;
			
block content
	.page-content: .container
		.timeline
			.timeline-path
			.timeline-item--offset
			each event, i in pastEvents
				.timeline-item(class=i % 2 == 1 ? 'timeline-item--even' : 'timeline-item--odd')
					.timeline-item-node
					a(href=event.url).timeline-item-inner
						h6.text-caps.text-danger= event._.startDate.format('YYYY - MMMM ')
						h4= event.title
						p!=utils.cropString( utils.htmlToText(event.description), 240, '...', true )
						hr
						p!=utils.cropString( utils.htmlToText(event.marketingInfo), 240 '...', true )

		if !upcomingEvent && !pastEvents.length
			h3.text-muted There are no events yet.

//- block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
