extends ../../layouts/default
include ../../mixins/event

block intro
	.container
		.page-intro
			h1.page-title Events
			p.lead During each event, we work closely with a non-profit organization to create real software that will be used to help people across the world.  Want to help?
				p.lead
					if !user
						a(href='/join').js-auth-trigger Join&nbsp;us&nbsp;
					else
						| RSVP&nbsp
					| for our next event. Stay in the loop -
					a(href='http://twitter.com/teamhacksmiths', target='_blank') follow us on twitter

		if upcomingEvent
			+event(upcomingEvent)
block content
	.page-content: .container
		.timeline
			.timeline-path
			.timeline-item--offset
			each event, i in pastEvents
				.timeline-item(class=i % 2 == 1 ? 'timeline-item--even' : 'timeline-item--odd')
					.timeline-item-node
					a(href=event.url).timeline-item-inner
						h6.text-caps.text-danger= event._.startDate.format('YYYY - MMMM ')
						h4= event.name
						!=utils.cropString( utils.htmlToText(event.description), 240, '...', true )
						//- !=utils.htmlToText(event.description)

		if !upcomingEvent && !pastEvents.length
			h3.text-muted There are no events yet.

//- block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
